.about-container {
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 25px;
    padding: 25px 30px;
    margin-top: 5%;

    /* shadow */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 10px -6px #999;
}

.about-one {
    font-size: 26px;
}

.howimfeelingnow {
    font-family: 'Source Code Pro Light';
    font-weight: lighter;
}

.sad {
    font-family: 'Source Code Pro';
    font-weight: bold;
    color: darkslategray;
}

.depressed {
    font-family: Abel;
    font-weight: bold;
    font-style: italic;
    color: darkslateblue;
}

.perturbed {
    text-transform: uppercase;
    font-weight: bold;
}

.something-wrong {
    font-family: sans-serif;
    font-style: italic;
    color: darkred;
}

.overly-happy {
    font-family: "Source Code Pro";
    font-weight: bold;
    font-size: 32px;
    color: #ffce45;
}

.about-two {
    margin-top: 15%;
    font-size: 18px;
}

.suicidal {
    font-family: "Abel";
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.mental-health {
    color: blue;
}

.link {
    text-transform: none;
    color: black;
}

.read-more {
    font-size: 20px;
}

.back-button {
    /* background-color: paleturquoise; */
    /* background-color: lightblue; */
    background-color: lightgrey;
    border: 0px;
    color: black;
    font-style: "Source Code Pro";
    width: 120px;
    height: 60px;
    font-size: 24px;
}

.back-button:hover {
    /* background-color: paleturquoise; */
    /* background-color: lightblue; */
    background-color: lightgrey;
    border: 0px;
}

.back-button:focus {
    /* background-color: paleturquoise; */
    /* background-color: lightblue; */
    background-color: lightgrey;
    border: 0px;
}

@media (max-width: 990px) {
    .about-container {
        margin: 0px 0px 10%;
        padding: 20px;

    }

    .howimfeelingnow {
        font-size: 20px;
    }

    .about-one {
        font-size: 18px;
    }

    .emotions {
        font-size: 18px;
    }

    .read-more {
        font-size: 17px;
    }

    .about-two {
        font-size: 15px;
    }

    .back-button {
        width: 90px;
        height: 50px;
        font-size: 20px;
        margin: 0px auto;
    }

    .button-row {
        display: flex;
        flex-direction: row-reverse;
        padding: 50px 40px 5px;
    }
}