.my-nav {
    background-color: #FFFFFF;
    border-bottom: 2px solid black;
    font-family: "Source Code Pro Light", sans-serif;

    /* shadow */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 10px -6px #999;
}

.navbar-brand {
    font-size: 32px !important;
    padding: 10px 25px 5px; 
}

.app-title {
    color: black;
    text-decoration: none;
    text-transform: none;
}


@media (max-width: 990px) {

    .my-nav {
        border-bottom: 1px solid black;
    }

    .navbar-brand {
        font-size: 20px !important;
        padding: 5px 10px 0px; 
    }
}