.results-container {
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 25px;
    padding: 25px 30px;
    margin-top: 5%;

    align-items: center;

    /* shadow */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 10px -6px #999;
}

.results-title {
    font-size: 28px;
    text-align: start;
    margin: 5px 25px 30px;
    text-transform: capitalize;
}

.progressbar-container {
    width: 25%;
    height: 25%;
    margin: 10px auto;
}

.inside-progress-image {
    font-size:42px;
}

.inside-progress-text {
    font-size: 22px
}

.diagnosis {
    font-size: 22px;
}

.message-for-all {
    font-size: 18px;
}

.external-links {
    margin-top: 35px;
    font-size: 16px;
    font-family: "Source Code Pro Light";
}

.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    margin-top: 50px;
}

.another-button {
    background-color: lightblue;
    border: 0px;
    color: black;
    font-style: "Source Code Pro";
    width: 120px;
    height: 70px;
    font-size: 18px;
}

.another-button:hover,
.another-button:focus {
    background-color: lightblue;
    border: 0px;
}

.about-button {
    background-color: lightgrey;
    border: 0px;
    color: black;
    font-style: "Source Code Pro";
    width: 120px;
    height: 60px;
    font-size: 24px;
}

.about-button:hover,
.about-button:focus {
    background-color: lightgrey;
    border: 0px;
}


@media (max-width: 990px) {
    .results-container {
        margin: 0px 0px 10%;

        padding: 20px;
    }

    .results-title {
        font-size: 24px;
        text-align: start;
    }

    .progressbar-container {
        width: 65%;
        height: 65%;
    }

    .diagnosis {
        margin-top: 25px;
        font-size: 20px;
    }

    .message-for-all {
        font-size: 16px;
    }

    .nonce {
        height: 25px;
    }

    .buttons-row {
        padding: 5px !important;
    }

    .about-button {
        width: 90px;
        height: 50px;
        font-size: 20px;
    }

    .another-button {
        width: 90px;
        height: 60px;
        font-size: 14px;
    }


}