.test-container {
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 25px;
    padding: 25px 30px;
    margin-top: 15%;

    /* shadow */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 10px -6px #999;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px;
    margin-top: 50px;
}

.previous-button {
    /* background-color: paleturquoise; */
    /* background-color: lightblue; */
    background-color: lightgrey;
    border: 0px;
    color: black;
    font-style: "Source Code Pro";
    width: 120px;
    height: 60px;
    font-size: 24px;
}

.previous-button:hover {
    /* background-color: paleturquoise; */
    /* background-color: lightblue; */
    background-color: lightgrey;
    border: 0px;
}

.previous-button:focus {
    /* background-color: paleturquoise; */
    /* background-color: lightblue; */
    background-color: lightgrey;
    border: 0px;
}

.next-button {
    /* background-color: lightgreen; */
    /* background-color: lightgrey; */
    background-color: lightblue;
    border: 0px;
    color: black;
    font-style: "Source Code Pro";
    width: 120px;
    height: 60px;
    font-size: 24px;
}

.next-button:hover {
    /* background-color: lightgreen; */
    /* background-color: lightgrey; */
    background-color: lightblue;
    border: 0px;
}

.next-button:focus {
    /* background-color: lightgreen; */
    /* background-color: lightgrey; */
    background-color: lightblue;
    border: 0px;
}

.title {
    text-align: center;
    font-size:28px;
}

.sub-title {
    font-size: 20px;
}